extends ../layouts/default

block main
    h1= title
    hr

block content
    - var action = '/cars'
    - action += car.isNew? '' : '/' + car.id

    .row
        .col-md-8
            form.form-horizontal(method="post", action=action, enctype="multipart/form-data", role="form")
                input(type="hidden", name="_csrf", value="#{csrf_token}")

                - if (!car.isNew)
                    input(type="hidden", name="_method", value="PUT")

                .form-group
                    label.col-sm-2.control-label(for='title') 标题
                    .col-sm-10
                        input.form-control#title(type='text', name="title", value=car.title, placeholder='Enter title')

                .form-group
                    label.col-sm-2.control-label(for='brand') 品牌
                    .col-sm-10
                        input.form-control#brand(type='text', name='brand', value=car.brand, placeholder='Enter brand')

                .form-group
                    label.col-sm-2.control-label(for='image') 图片
                    .col-sm-10
                        input#image(type='file', name='image')

                .form-group
                    label.col-sm-2.control-label(for='desc') 描述
                    .col-sm-10
                        textarea.form-control#desc(rows='5', name='desc', placeholder='Enter the car description')=car.desc

                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-primary(type='submit') 保存
                        &nbsp;
                        a.btn.btn-danger(href='/cars', title='cancel') 取消
